<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beranda</title>
    <link rel="stylesheet" href="/style.css">
    <%- include('template/base') %>
</head>
<body class="container">

<header>
    <%- include('template/header') %>
</header>
<main>
    <div class="">
        <h1>Halaman Beranda</h1>
        <p>Selamat datang di halaman utama website <%= kelas.nama%></p>
    </div>
</main>

</body>
</html>