<!DOCTYPE html>
<html>
	<head>
		<title>Beranda</title>
		<link rel="stylesheet" type="text/css" href="assets/style.css">
		<%- include('../template/base') %>
	</head>
	<body class="container">
	
	<header>
		<%- include('../template/header') %>
		<h1>Daftar User</h1>
	</header>

<ul>
		

</ul>

</body>
</html>